@tailwind base;
@tailwind components;
@tailwind utilities;

/*input rang styles:*/

.range-input::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    #1ed760 0%,
    #1ed760 var(--progress),
    gray var(--progress),
    gray 100%
  );
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: #1ed760;
  margin-top: -6px;
}

.range-input {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
}




@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  }    
}